---
---

@import "{{ site.theme }}";

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #333;
}

.page-header {
  background: url("https://source.unsplash.com/n1QrQTA-z9g/1200x800") no-repeat center;
  background-size: cover;
  text-shadow: 1px 1px 4px black;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
  }
  > * {
    position: relative;
  }
  .project-tagline {
    opacity: 1;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    color: #e6e6e6;
  }
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #1f6d46;
  font-weight: bold;
}
