---
---

@import "{{ site.theme }}";

$tow-green: #1f6d46;
$tow-green-light: #1f6d46;

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #333;
}

.page-header {
  background: no-repeat center $tow-green;
  // https://source.unsplash.com/n1QrQTA-z9g/1200x600 // Sheep Aus
  // https://source.unsplash.com/f57GacwX9FQ/1200x600 // Sheep Aus
  background-image: url("https://images.unsplash.com/photo-1561168801-e6d5a6cb5772?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1200&h=600&fit=crop&ixid=eyJhcHBfaWQiOjF9");
  background-size: cover;
  text-shadow: 1px 1px 4px black;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
  }
  
  &,
  > * {
    position: relative;
  }
  .project-name {
    font-size: 2rem;
    @media screen and (min-width: 42em) {
      font-size: 3rem;
    }
  }
  
  .project-tagline {
    opacity: 1;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    color: #e6e6e6;
  }
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: $tow-green;
  font-weight: bold;
}
